
MyEShopOnWeb/ApplicationCore/obj/ApplicationCore.csproj.nuget.dgspec.json
MyEShopOnWeb/ApplicationCore/obj/ApplicationCore.csproj.nuget.g.props
MyEShopOnWeb/ApplicationCore/obj/Debug/netstandard2.1/ApplicationCore.assets.cache
MyEShopOnWeb/ApplicationCore/obj/Debug/netstandard2.1/ApplicationCore.csprojAssemblyReference.cache
MyEShopOnWeb/ApplicationCore/obj/project.assets.json
MyEShopOnWeb/ApplicationCore/obj/project.nuget.cache
MyEShopOnWeb/BlazorShared/obj/BlazorShared.csproj.nuget.dgspec.json
MyEShopOnWeb/BlazorShared/obj/BlazorShared.csproj.nuget.g.props
MyEShopOnWeb/BlazorShared/obj/Debug/netstandard2.1/BlazorShared.assets.cache
MyEShopOnWeb/BlazorShared/obj/Debug/netstandard2.1/BlazorShared.csprojAssemblyReference.cache
MyEShopOnWeb/BlazorShared/obj/project.assets.json
MyEShopOnWeb/BlazorShared/obj/project.nuget.cache
MyEShopOnWeb/Infrastructure/obj/Debug/netstandard2.1/Infrastructure.assets.cache
MyEShopOnWeb/Infrastructure/obj/Debug/netstandard2.1/Infrastructure.csprojAssemblyReference.cache
MyEShopOnWeb/Infrastructure/obj/Infrastructure.csproj.nuget.dgspec.json
MyEShopOnWeb/Infrastructure/obj/Infrastructure.csproj.nuget.g.props
MyEShopOnWeb/Infrastructure/obj/project.assets.json
MyEShopOnWeb/Infrastructure/obj/project.nuget.cache
MyEShopOnWeb/PublicApi/obj/Debug/net5.0/PublicApi.assets.cache
MyEShopOnWeb/PublicApi/obj/Debug/net5.0/PublicApi.csprojAssemblyReference.cache
MyEShopOnWeb/PublicApi/obj/project.assets.json
MyEShopOnWeb/PublicApi/obj/project.nuget.cache
MyEShopOnWeb/PublicApi/obj/PublicApi.csproj.nuget.dgspec.json
MyEShopOnWeb/PublicApi/obj/PublicApi.csproj.nuget.g.props
